* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

.map {
 height: 400px;
 max-width: 1000px;
 width: 100%;
 margin: 0 auto;
 display: flex;
 flex-direction: column;
}

h1 {
 text-align: center;
 margin: 30px auto 0;
}

.input-field {
 max-width: 500px;
 width: 100%;
 margin: 20px auto 50px;
 display: block;
 text-align: center;
 position: relative;
}

.input-field input {
 padding: 10px 20px;
 width: 100%;
 border-radius: 5px;
 border: 2px solid #7690b2;
 color: #88919c;
}

.dropdown {
position: absolute;
width: 100%;
margin-top: 5px;
box-shadow: 2px 2px 8px rgba(0,0,0,.1);
border-radius: 5px;
}

.dropdown__suggestions {
 background: #fefefe;
 width: 100%;
 padding: 8px;
 cursor: pointer;
 text-align: left;
}

.dropdown__suggestions:hover {
 background: #efefef;
}

/* MARKER */

.marker {
 background: url('https://i.imgur.com/oz3r3Wq.png');
 background-size: cover;
 width: 22px;
 height: 22px;
 background-color: yellow;
 border-radius: 11px;
 border: 3px solid darkslategray;
}

.marker-delivery {
 background: red;
}